name: "Terraform Simple CI"

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  id-token: write          # Required for AWS OIDC connection
  contents: read           # Required for actions/checkout

env:
  TF_LOG: INFO
  AWS_REGION: ${{ secrets.AWS_REGION }}
  working-directory: root_modules/environments/dev
  terraform_version: 1.6.6

jobs:
  # ===========================
  # Terraform PLAN Job (PR only)
  # ===========================
  plan:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
          role-session-name: GitHub-OIDC-TERRAFORM

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.terraform_version }}

      - name: Terraform Init
        working-directory: ${{ env.working-directory }}
        run: terraform init -upgrade

      - name: Terraform Validate
        working-directory: ${{ env.working-directory }}
        run: terraform validate -no-color

      - name: Terraform Plan
        working-directory: ${{ env.working-directory }}
        run: terraform plan -no-color


  # ===========================
  # Terraform APPLY Job (Main only)
  # ===========================
  apply:
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
          role-session-name: GitHub-OIDC-TERRAFORM

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.terraform_version }}

      - name: Terraform Init
        working-directory: ${{ env.working-directory }}
        run: terraform init -upgrade

      - name: Terraform Apply
        working-directory: ${{ env.working-directory }}
        run: terraform apply -auto-approve -input=false
